<html>
<head>
    <title>Chakras Music Player</title>

    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {{#if production}}
        <link rel="stylesheet" href="style.bundle.css" />
    {{/if}}
</head>
<body>
    <div id="root">{{{reactContent}}}</div>
    <script id="initialData" type="application/json">{{{initialData}}}</script>
    <script src="/client.bundle.js"></script>
</body>
</html>