@font-face {
    font-family: mainFont;
    src: url(../fonts/segoeuil.ttf);
}
html, body{
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: mainFont;
}
body {
    /*overflow: hidden;*/
    /*background: linear-gradient(270deg, #a82645, #000000);*/
    /*background-size: 400% 400%;*/

    /*-webkit-animation: AnimationName 30s ease infinite;*/
    /*-moz-animation: AnimationName 30s ease infinite;*/
    /*animation: AnimationName 30s ease infinite;*/
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.cover {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 240px;
    -webkit-box-shadow: -1px 1px 300px -3px rgba(252,252,252,1);
    -moz-box-shadow: -1px 1px 300px -3px rgba(252,252,252,1);
    box-shadow: -1px 1px 300px -3px rgba(252,252,252,1);
}
.upcover {
    z-index: 100;
}
.undercover {
    top: 50% !important;
    z-index: 0;
    filter: blur(25px);
    max-height: 800px;
    min-height: 800px;
}
.timeControl {
    width: 750px !important;

}
.timeControlWrapper {
    width: 750px;
    margin-left: -150px !important;
    position: relative;
}
.time__progress-bar--elapsed {
    position: absolute ;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 14px;
    background-color: #941e00;
    content: "";
    margin-top: 4px;
    border-radius: 10px;
    z-index: 100;
}
.time__progress-bar--background {
    position: absolute ;
    top: 0px;
    left: 0px;
    width: 750px;
    height: 14px;
    background-color: #444;
    content: "";
    margin-top: 4px;
    border-radius: 10px;
    z-index: 80;
}
.time {
    color: #DDD;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 8px;
    width: 50px;
    text-align: center;
    width: 40px;
}
.time--elapsed {
    left: -30px;
}
.time--tracklength {
    right: -70px;
}
.controls {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}
.title {
    font-size: 32px;
    margin: 20px 0px;
    color: #DDD;
    text-align: center;
}

#random, #repeat {
    margin-top: 5px;
    height: 20px !important;
    width: 20px !important;
}
.volumeControl {
    display: none;
    margin-left: 10px;
    padding-top: 4px;
}
.volumeWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
#volume:hover input{
    display: block;
}
#volume {
    line-height: 0;
    position: relative;
    width: 30px;
    height: 30px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    margin-bottom: 20px;
}
.repeat svg {
    height: 30px !important;
    width: 30px !important;
}
.buttons:last-child svg {
    height: 30px !important;
    width: 30px !important;
}
.controls svg {
    height: 30px !important;
    width: 30px !important;
    color: #DDD;
    z-index: 100;
}
#play {
    height: 28px !important;
}
.controls svg:hover {
    transform: scale(1.15);
}
.timeControl[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: -3.1px 0;
    background-color: transparent;
    z-index: 1000000;
}
.timeControl[type=range]:focus {
    outline: none;
}
.timeControl[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
    border: 0px solid #010101;
    z-index: 1000000;
}
.timeControl[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 28px;
    background: #FFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
    z-index: 1000000;
    display: none;
}
.timeControlHovered[type=range]::-webkit-slider-thumb {
    display: block;
}
.timeControl[type=range]:focus::-webkit-slider-runnable-track {
    background: #572f36;
}
.timeControl[type=range]::-moz-range-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #46262c;
    border-radius: 0px;
    border: 0px solid #010101;
}
.timeControl[type=range]::-moz-range-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
    border: 2.9px solid #941e00;
    height: 25px;
    width: 34px;
    border-radius: 28px;
    background: rgba(254, 55, 56, 0.93);
    cursor: pointer;
}
.timeControl[type=range]::-ms-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.timeControl[type=range]::-ms-fill-lower {
    background: #351d22;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.timeControl[type=range]::-ms-fill-upper {
    background: #46262c;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.timeControl[type=range]::-ms-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
    border: 2.9px solid #941e00;
    width: 34px;
    border-radius: 28px;
    background: rgba(254, 55, 56, 0.93);
    cursor: pointer;
    height: 25px;
}
.timeControl[type=range]:focus::-ms-fill-lower {
    background: #46262c;
}
.timeControl[type=range]:focus::-ms-fill-upper {
    background: #572f36;
}
.volumeControl[type=range] {
    -webkit-appearance: none;
    width: 100px;
    background-color: transparent;
}
.volumeControl[type=range]:focus {
    outline: none;
}
.volumeControl[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: #FFF;
    border-radius: 10px;
    border: 0px solid #010101;
    margin-bottom: 3px;
}
.volumeControl[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #FFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
.volumeControl[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFF;
}
.volumeControl[type=range]::-moz-range-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #46262c;
    border-radius: 0px;
    border: 0px solid #010101;
}
.volumeControl[type=range]::-moz-range-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
    border: 2.9px solid #941e00;
    height: 25px;
    width: 34px;
    border-radius: 28px;
    background: rgba(254, 55, 56, 0.93);
    cursor: pointer;
}
.volumeControl[type=range]::-ms-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.volumeControl[type=range]::-ms-fill-lower {
    background: #351d22;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.volumeControl[type=range]::-ms-fill-upper {
    background: #46262c;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.volumeControl[type=range]::-ms-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
    border: 2.9px solid #941e00;
    width: 34px;
    border-radius: 28px;
    background: rgba(254, 55, 56, 0.93);
    cursor: pointer;
    height: 25px;
}
.volumeControl[type=range]:focus::-ms-fill-lower {
    background: #46262c;
}
.volumeControl[type=range]:focus::-ms-fill-upper {
    background: #572f36;
}
.container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    z-index:100;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 56%;
    left: 50%;
}
.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.item {
    display: block;
    position: absolute;
    background: #000;
    width: 300px;
    height: 300px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}
.a {
    transform: rotateY(0deg) translateZ(250px);
    background: transparent;
}
.b {
    transform: rotateY(60deg) translateZ(250px);
    background: transparent;
}
.c {
    transform: rotateY(120deg) translateZ(250px);
    background: transparent;
}
.d {
    transform: rotateY(180deg) translateZ(250px);
    background: transparent;
}
.e {
    transform: rotateY(240deg) translateZ(250px);
    background: transparent;
}
.f {
    transform: rotateY(300deg) translateZ(250px);
    background: transparent;
}
.next, .prev {
    color: #444;
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
    top: 1000px;
    box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }
